#game-board {
	width: 95%;
	margin: 25px;
	height: 420px;
	outline: 20px solid black;
}

body {
	overflow: hidden;
	background-color: rgba(169, 169, 169, 0.822);
}

img {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* #player {
	width: 150px;
} */
.container {
	margin: 10px;
}

.coin {
	width: 30px;
}

.timer-container {
	display: flex;
}

.button {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 175px;
}

.button:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.button {
		padding: 0.25em 0.75em;
	}
}
